
	class {{ClassName}} : public LocalizedString
	{
	public:
		static LocalizedString* create();
		LocalizedString* clone() override;
		std::string getStringIdentifier() override;
	protected:
		std::string getStringByLanguage(cocos2d::LanguageType languageType) override;
	private:
		{{ClassName}}();
		virtual ~{{ClassName}}() = default;
	};
