[submodule "cocos2d"]
	path = cocos2d
	url = git@github.com:Squalr/cocos2d-x.git
	branch = squally/3.17
[submodule "external/breakpad"]
	path = external/breakpad
	url = git@github.com:Squalr/breakpad.git
[submodule "external/AFNetworking"]
	path = external/AFNetworking
	url = git@github.com:Squalr/AFNetworking.git
[submodule "external/spriter2dx"]
	path = external/spriter2dx
	url = git@github.com:Squalr/Spriter2dX
[submodule "external/spriterplusplus"]
	path = external/spriterplusplus
	url = git@github.com:Squalr/SpriterPlusPlus
[submodule "Resources"]
	path = Resources
	url = git@github.com:Squalr/SquallyResources.git
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:Squalr/vcpkg.git
