[submodule "cocos2d"]
	path = cocos2d
	url = git@github.com:zcanann/cocos2d-x.git
	branch = squally/3.17
[submodule "external/breakpad"]
	path = external/breakpad
	url = git@github.com:teknoman117/breakpad.git
[submodule "external/AFNetworking"]
	path = external/AFNetworking
	url = git@github.com:teknoman117/AFNetworking
