//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// THIS C++ FILE IS GENERATED. ONLY EDIT NON-GENERATED SECTIONS. RUN GenerateDataFiles.py TO GENERATE THIS FILE //
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#include "{{EntityName}}.h"

#include "Resources/EntityResources.h"

///////////////////////////////////////////////////
// BEGIN: CODE NOT AFFECTED BY GENERATE SCRIPTS: //
////A////A////A////A////A////A////A////A////A////A/

////B////B////B////B////B////B////B////B////B////B/
// END: CODE NOT AFFECTED BY GENERATE SCRIPTS    //
///////////////////////////////////////////////////

const std::string {{EntityName}}::MapKey{{EntityName}} = "{{MapKeyName}}";

{{EntityName}}* {{EntityName}}::deserialize(cocos2d::ValueMap& initProperties)
{
	{{EntityName}}* instance = new {{EntityName}}(initProperties);

	instance->autorelease();

	return instance;
}

{{EntityName}}::{{EntityName}}(cocos2d::ValueMap& initProperties) : {{EntityBase}}(initProperties,
	EntityResources::{{EntityPrefix}}{{EnvironmentUnderscore}}{{EntityEnvironment}}_{{EntityName}}_Animations,
	EntityResources::{{EntityPrefix}}{{EnvironmentUnderscore}}{{EntityEnvironment}}_{{EntityName}}_Emblem,
	PlatformerCollisionType::{{EntityCollisionType}},
	cocos2d::Size({{EntityWidth}}, {{EntityHeight}}),
	{{EntityScale}},
	cocos2d::Vec2({{EntityOffsetX}}, {{EntityOffsetY}}),
	{{EntityHealth}},
	{{EntitySpecial}})
{
	///////////////////////////////////////////////////
	// BEGIN: CODE NOT AFFECTED BY GENERATE SCRIPTS: //
	////Y////Y////Y////Y////Y////Y////Y////Y////Y////Y/

	////Z////Z////Z////Z////Z////Z////Z////Z////Z////Z/
	// END: CODE NOT AFFECTED BY GENERATE SCRIPTS    //
	///////////////////////////////////////////////////
}

{{EntityName}}::~{{EntityName}}()
{
}

///////////////////////////////////////////////////
// BEGIN: CODE NOT AFFECTED BY GENERATE SCRIPTS: //
////X////X////X////X////X////X////X////X////X////X/

////O////O////O////O////O////O////O////O////O////O/
// END: CODE NOT AFFECTED BY GENERATE SCRIPTS    //
///////////////////////////////////////////////////
